/* .structure{
    width: 100px;
    height: 150px;
    background-color: peru;
    
} */
/* 
 */
 video{
    width:200px;
 }
 audio{
    width: 200px;
 }
 iframe{
    width: 400px;
    height: 280px;
 }